@using Socius.Extensions;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
	var feeds = Model.GetSocialMedia(Model.Socius);
}

<style>
	.feed {
		display: flex;
		flex-flow: row wrap;
	}
	.post {
		box-sizing: border-box;
		margin: 8px 8px;
		background-color: #56a5cf;
		width: 400px;
		padding: 4px;
	}
	.post > a {
		display: flex;
		flex-flow: row nowrap;
		color: inherit;
		text-decoration: none;
	}
	.post > a > img {
		max-width: 150px;
		margin-right: 8px;
	}

</style>


<h1>Socius Feeds</h1>


<h3>Facebook</h3>
<section class="feed">
	@foreach (var fbPost in feeds.FacebookPosts)
	{
		<article class="post">
			<a href="@fbPost.PostLink" rel="nofollow" target="_blank">
				@if (!fbPost.Attachment.MediaUrl.IsNullOrWhiteSpace())
				{
					if (fbPost.Attachment.MediaType == "photo")
					{
						<img src="@fbPost.Attachment.MediaUrl" />
					}
					else if (fbPost.Attachment.MediaType == "video")
					{
						<video src="@fbPost.Attachment.MediaUrl" />
					}
				}
				<div>
					<p>@fbPost.Message</p>
					<small>@fbPost.CreatedAt</small>
				</div>
			</a>
		</article>
	}
</section>


<h3>Instagram</h3>
<section class="feed">
	@foreach (var igPost in feeds.InstagramPosts)
	{
		<article class="post">
			<a href="@igPost.PostLink" rel="nofollow" target="_blank">
				@if (!igPost.Attachment.MediaUrl.IsNullOrWhiteSpace())
				{
					if (igPost.Attachment.MediaType == "photo")
					{
						<img src="@igPost.Attachment.MediaUrl" />
					}
					else if (igPost.Attachment.MediaType == "video")
					{
						<video src="@igPost.Attachment.MediaUrl" />
					}
				}
				<div>
					<p>@igPost.Message</p>
					<small>@igPost.CreatedAt</small>
				</div>
			</a>
		</article>
	}
</section>


<h3>Twitter</h3>
<section class="feed">
	@foreach (var twPost in feeds.TwitterPosts)
	{
		var mediaAttachment = twPost.Attachments.First();

		<article class="post">
			<a href="@twPost.PostLink" rel="nofollow" target="_blank">
				@if (mediaAttachment != null)
				{
					if (mediaAttachment.MediaType == "photo")
					{
						<img src="@mediaAttachment.MediaUrl" />
					}
					else if (mediaAttachment.MediaType == "video")
					{
						<video src="@mediaAttachment.MediaUrl" />
					}
				}
				<div>
					<p>@twPost.Message</p>
					<small>@twPost.CreatedAt</small>
				</div>
			</a>
		</article>
	}
</section>